<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.WebBannerMapper">

    <!--查询前台轮播图-->
    <select id="selectWebBanner" resultType="Map">
		SELECT id,image_url,href,remark,sort,update_time FROM web_banner ORDER BY sort ASC
	</select>
</mapper>