<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.FrontWebMenuMapper">

    <!--查询前8条前台横向菜单-->
    <select id="selectHorizontalWebMenu" resultType="Map">
        SELECT id,title,url FROM web_menu WHERE menu_type=#{menuType}
        ORDER BY last_modify_time ASC LIMIT 8
	</select>



</mapper>