<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.WebMenuMapper">

    <!--查询所有横向菜单-->
    <select id="selectWebMenu" resultType="Map">
		SELECT id,title,url,DATE_FORMAT(last_modify_time,'%Y-%m-%d %H:%i:%s') last_modify_time
		FROM web_menu where menu_type='1' ORDER BY last_modify_time ASC
		LIMIT #{startIndex},#{pageSize}
	</select>

    <!--查询所有横向菜单的总数目-->
    <select id="selectCountWebMenu" resultType="Integer">
        SELECT count(*) FROM web_menu where menu_type='1'
    </select>

    <!--添加前台横向菜单-->
    <insert id="insertWebMenu" parameterType="Map">
        INSERT INTO web_menu SET title=#{title},url=#{url},menu_type=#{menuType},create_time=NOW()
    </insert>

    <!--更新前台菜单的菜单名称和链接地址-->
    <update id="updateWebMenu" parameterType="Map">
        UPDATE web_menu SET title=#{title},url=#{url},last_modify_time=NOW() WHERE id=#{id}
    </update>

    <!--删除前台横向菜单-->
    <delete id="deleteWebMenu" parameterType="String">
        DELETE FROM web_menu WHERE id IN(${idStr})
    </delete>

    <!--查询前台轮播图-->
    <select id="selectWebBanner" resultType="Map">
        SELECT id,image_url,href,remark,sort,DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') update_time
        FROM web_banner
        LIMIT #{startIndex},#{pageSize}
    </select>

    <!--查询所有前台轮播图的总数目-->
    <select id="selectCountWebBanner" resultType="Integer">
        SELECT COUNT(*) FROM web_banner
    </select>

    <!--添加前台轮播图-->
    <insert id="insertWebBanner">
        INSERT INTO web_banner VALUES(NULL,'image_url','href','remark',1,NOW())
    </insert>
</mapper>